<nav
  class="w-full bg-gray-700 text-white p-4 flex justify-between items-center dark:bg-black"
>
  <div class="font-bold">
    <a routerLink="/home" class="hover:underline">Datatex.gr</a>
  </div>

  <div class="flex items-center space-x-4">
    <a routerLink="/" class="hover:underline">Κεντρική</a>

    <a routerLink="/portofolio" class="hover:underline">Portofolio</a>

    <a routerLink="/bio" class="hover:underline">Ποιοι Είμαστε</a>

    @if (isAdmin$ | async) {
    <a routerLink="/admin" class="hover:underline">Dashboard</a>
    } 
    
    @if (user$ | async; as user) {
      <button [matMenuTriggerFor]="userMenu">{{ user.name }}</button>
      <mat-menu #userMenu="matMenu" class="bg-gray-800 text-white mt-4">
        <button mat-menu-item routerLink="/user-profile">Profile</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    }

    <a
      href="https://github.com/nickpsal"
      target="_blank"
      class="hover:text-gray-300 text-xl"
      title="View on GitHub"
    >
      <i class="fab fa-github"></i>
    </a>

    <button (click)="toggleDarkMode()" class="ml-4 text-xl">
      {{ isDark ? "☀️" : "🌙" }}
    </button>
  </div>
</nav>
