<img
  mat-card-image
  src="https://api.datatex.gr/public/assets/images/slider.jpg"
  alt="slider image"
  class="w-full h-[600px] object-cover"
/>

<div class="w-full flex justify-center py-20" *ngIf="isLoading()">
  <mat-spinner diameter="60" strokeWidth="5" color="primary"></mat-spinner>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 p-6 mt-6" *ngIf="!isLoading()">
  <mat-card
    *ngFor="let article of articles$ | async"
    class="rounded-xl shadow-lg transition-transform transform hover:scale-105 duration-300 ease-in-out overflow-hidden bg-white dark:bg-gray-800 dark:shadow-black/40"
  >
    <img
      mat-card-image
      [src]="article.featured_image"
      [alt]="article.title"
      class="h-[450px] w-full object-cover"
    />

    <mat-card-header class="pb-0">
      <mat-card-title
        class="text-xl font-semibold text-gray-900 dark:text-white"
      >
        <a
          [routerLink]="['/blog', article.category, article.slug]"
          class="hover:underline text-inherit no-underline"
        >
          {{ article.title }}
        </a>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content
      class="text-gray-600 dark:text-gray-300"
      [innerHTML]="article.excerpt"
    ></mat-card-content>
  </mat-card>
</div>
